html{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f7fa;
}

.Bienvenida{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   column-gap: 20px;
}
.Bienvenida-seccion-boton{
    display: flex;
    padding-top: 5px;
}
.Bienvenida-boton{
    background-color: #48cae4;
    border: none;
    border-radius:5%;
    width: 320px;
    height:59px;
    color: #ffffff;
    font-size: 20px;
    justify-content: center;
    font-family:'Poppins', sans-serif;
    letter-spacing: 1px;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    
}
.Bienvenida-boton:hover{
    background-color: #6e44ff;
    cursor: pointer;
}
.Bienvenida-Imagen{
    height: 100vh;
    display: block;
}
.Bienvenida-Imagen img{
    border-radius: 5%;
    height: 100vh;
}

.Bienvenida-datos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    
}
.Bienvenida-title{
    font-family:'Noto Sans', sans-serif;;
    font-size: 80px;
    display: flex;
    height: 240px;
    color: #0077b6;

}
.Bienvenida-descripcion{
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    display: flex;
    object-fit: contain;
}
